{% set cl_main_content = 'layout-no-sidebar' %}
{% set cl_main = 'col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 order-xl-2 order-lg-2 order-md-1 order-sm-1 order-xs-1 ' %}

{% if page.sidebar_right and page.sidebar_left %}
	{% set cl_main = 'col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 order-xl-2 order-lg-2 order-md-1 order-sm-1 order-xs-1 ' %}
	{% set cl_main_content = 'layout-with-sidebar layout-sd-both' %}
{% elseif page.sidebar_right or page.sidebar_left %}
	{% if page.sidebar_right %}
		{% set cl_main_content = 'layout-with-sidebar layout-sd-right' %}
		{% set cl_main = 'col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 order-xl-2 order-lg-2 order-md-1 order-sm-1 order-xs-1 sb-r ' %}
	{% endif %}
	{% if page.sidebar_left %}
		{% set cl_main_content = 'layout-with-sidebar layout-sd-left' %}
		{% set cl_main = 'col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 order-xl-2 order-lg-2 order-md-1 order-sm-1 order-xs-1 sb-l ' %}
	{% endif %}
{% endif %}
<style>
	@-webkit-keyframes fade-in {
		0%{
			opacity: 0;
			top:1200px;
		}
		50% {
			opacity: 1;
		}
		100% {
			opacity: 0;
			top: -150px;
		}
	}

	.bubble-animated-one {
		display: inline;
		position: absolute;
		-webkit-animation: fade-in 2s infinite;
		-webkit-animation-delay: 2s;
		animation-duration: 8s;
		animation-iteration-count: 1;
		margin: 0 auto;
		float: left;
		text-align: center;
		width: 100%;
		bottom: -30px;
	}

	.bubble-animated-two {
		opacity: 0;
		display: inline;
		position: absolute;
		margin-left: -25%;
		-webkit-animation: fade-in 2s infinite;
		-webkit-animation-delay: 7s;
		animation-duration: 10s;
		animation-iteration-count: 1;
		float: left;
		text-align: center;
		width: 100%;
		bottom: 0;
	}

	.bubble-animated-three {
		opacity: 0;
		display: inline;
		position: absolute;
		margin-left: 35%;
		-webkit-animation: fade-in 5s infinite;
		-webkit-animation-delay: 12s;
		animation-duration: 10s;
		animation-iteration-count: 1;
		float: left;
		text-align: center;
		width: 100%;
		bottom: 0;
	}

	.bubble-animated-four {
		opacity: 0;
		display: inline;
		position: absolute;
		margin-left: -35%;
		-webkit-animation: fade-in 5s infinite;
		-webkit-animation-delay: 15s;
		animation-duration: 10s;
		animation-iteration-count: 1;
		float: left;
		text-align: center;
		width: 100%;
		bottom: 0;
	}

	.aggettivi {
		display: inline;
		text-align: center;
		margin: 0 auto;
		height: 100vmin;
	}

	.content-main {
		height: 100vmin;
		width: 100%;
		float: left;
		margin: 0 auto;
	}
</style>

<div class="region-main-page-content {{ cl_main_content }}">
	<div class="row">

		<div id="page-main-content" class="main-content {{ cl_main }}">
			<div class="main-content-inner">
				{% if page.content %}
					<div class="content-main">
						{{ page.content }}
						<div class="aggettivi">
							<div class="bubble-animated-one">
								<img src="/themes/custom/ziston_sub/images/bubble_1.png" height="20px" width="20px">
							</div>
							<div class="bubble-animated-two">
								<img src="/themes/custom/ziston_sub/images/bubble_2.png" height="20px" width="20px">
							</div>
							<div class="bubble-animated-three">
								<img src="/themes/custom/ziston_sub/images/bubble_3.png" height="20px" width="20px">
							</div>
							<div class="bubble-animated-four">
								<img src="/themes/custom/ziston_sub/images/bubble_3.png" height="20px" width="20px">
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>

		<!-- Sidebar Left -->
		{% if page.sidebar_left %}
			{% set cl_left = 'col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 order-xl-1 order-lg-1 order-md-2 order-sm-2 order-xs-2' %}
			{%	if page.sidebar_right %}
				{% set cl_left = 'col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 order-xl-1 order-lg-1 order-md-2 order-sm-2 order-xs-2' %}
			{% endif %}
			<div class="{{ cl_left }} sidebar sidebar-left">
				<div class="sidebar-inner">
					{{ page.sidebar_left }}
				</div>
			</div>
		{% endif %}
		<!-- End Sidebar Left -->

		<!-- Sidebar Right -->
		{% if page.sidebar_right %}
			{% set cl_right = 'col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 order-xl-3 order-lg-3 order-md-3 order-sm-3 order-xs-3'  %}
			{% if page.sidebar_left %}
				{% set cl_right = 'col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 order-xl-3 order-lg-3 order-md-3 order-sm-3 order-xs-3' %}
			{% endif %}
			<div class="{{ cl_right }} sidebar sidebar-right theiaStickySidebar">
				<div class="sidebar-inner">
					{{ page.sidebar_right }}
				</div>
			</div>
		{% endif %}
		<!-- End Sidebar Right -->

	</div>
</div>
